*{
    font-family:cursive;
}

img {
    border-radius: 8px;
  }

.logo{
    width: 125px; 
    margin-right: -50px;
}
/* Decorating navigation bar */
nav{
    background-color:#ddecd2;
    opacity: 0.9;
    font-size:larger;
}

/* Decorating unordered list */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

/* Decorating navigation bar interval */
.navigation li {   
    float:right;
    padding-left: 100px;
    margin-right: -50px;
}

/* Decorating navigation bar font  */
nav li a {
    display: block;
    color: #224819;
    text-align: center;
    padding: 18px 70px;
    text-decoration: none;
    margin-right: 15px;
}

nav li a:hover{
    background-color: aliceblue;
}

/* Styling for visited links */
nav li a:visited {
    color: #4a6943; /* Color for visited links */
}

body .logo {
    margin-right: 10px;
    position:absolute; 
    top: 10px; 
    left: 20px;
    background-color:#ddecd2;
}

body{
    background-image: url(Image/background4.jpg);
}

.wrapper{
    width:100%;
    top: 0px auto; 
    left: 0px auto;
}

h1{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#224819;
    display: flex;
}

.service {
    display:flex;
    align-items: center; 
    margin-bottom: 20px;
}

.service a{
    text-decoration:none;
}

#meal1 {
    flex: 0 0 25%; 
    margin-left:5px;
}

.box-right{
    background-color:#F0F0F0;
    font-size:large;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
}

.box-right h2{
    color:#5A3082;

}
 
.meallist{
    color:#417d33;
    margin-left: 10px;
}

.box-right p{
    padding-left: 100px;
    color:#417d33;
}

.services2 {
    display: flex;
    justify-content: flex-end;
}

.box-left{
    background-color:#F0F0F0;
    font-size:large;
    display:flex;
    padding-right: 10px;;
    margin-right: 10px;
}

.box-left h2{
    color:#5A3082;

}

.box-left p{
    color:#417d33;
    padding-left: 10px;
    text-align: left;
}

#headerli{
    list-style: none;
}

.video{
    background-color: white;
}

iframe{
    margin-left:16%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #417d33;
    color: #fff;;
    line-height: 90%;
}

.footer-content {
    margin-left: 20px;
    padding-right: 10%;
    flex-grow: 1;
}

#email{
    display: flex;
    background-color: #417d33;
    color: #fff;;
    text-align: left;
}

.footer-social {
    margin-right: 20px;
    text-align: left;
    display: flex;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer  li {
    display: flex;
    margin-right: 20px; 
}

.footer-social a {
    color: #ffffff;
    padding-right: 0%;
    text-decoration: underline;
}

.copyright{
    font-style: italic;
}

/* howItWork.html css start */
.sec1{
    background-color: #F0F0F0;

}

.sec1 h1{
    padding-top: 5px;
}

.step{
    display: flex;
    margin-left: 10px;
}

.step img{
    margin-right: 35px;
}

.stepjustify {
    display: flex;
    margin-left: 24px;
}

.stepjustify p {
    margin-right: 10%; 
    font-size: large;
}

.FAQ{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F0F0F0;
}

/*meal plan css*/
table{
    border-collapse: collapse;
}

th,td{
    padding: 8px;
    border:1px solid;
    text-align: left;
    font-family: sans-serif;
    
}

tr:nth-child(even){
    background-color: #F0F0F0;
    color:#1e6d0c;

}

tr:nth-child(odd){
    background-color: #5A3082;
    color: #F0F0F0;
}

.weekly{
    margin: auto;
    display: flex;
}

.weekly-table{
    width:1100px;
    height:400px;
    padding-left: 50px;
    display:flex;
}

.weekly-image{
    float:left;
}

.monthly-image{
    float:right;
}

.monthly-table{
    width:1100px;
    height:420px;
    padding-right: 50px;
    display:flex;
}

.delivery{
    display:flex;
}

.delivery-text{
    background-color: #F0F0F0;
    font-size:170%;
    color:#417d33;
    
}

#box{
    margin-left: 50px;
}

.big-title{
    color: #224819;
    padding-bottom: px;
    font-size: 200%;
}

.wongyong{
    display:flex;
}

.eitherway{
    float:right;

}

.active{
    background-color: aliceblue;
}