*{
    font-family:cursive;
}
.navigation{
    width:100%;
    top: 0px auto; 
    left: 0px auto;
}
#nav{
    background-color:#ddecd2;
    font-size:larger;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#nav li {   
    float:right;
    padding-left: 100px;
    margin-right: -50px;
}
li a {
    display: block;
    color: #224819;
    text-align: center;
    padding: 18px 70px;
    text-decoration: none;
    margin-right: 15px;
}
body #logo {
    margin-right: 10px;
    position:absolute; 
    top: 10px; 
    left: 20px;
    background-color:#ddecd2;
}
body{
    background-color:#ddecd2;
}
#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.big-title{
    color: #224819;
    padding-bottom: px;
    font-size: 200%;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #417d33;
    color: #fff;;
    line-height: 90%;
}

.footer-content {
    margin-left: 20px;
    padding-right: 10%;
    flex-grow: 1;
}
.active {
    background-color: aliceblue;
  }
.navigation a:hover{
    background-color: aliceblue;
}
.box1{
    background-color:aliceblue;
    display: flex;
}
#company-image{
  margin-left: 21.7cm;
  margin-top: 0.2cm;
}
.box2{
    display:flex;
}
#facebook {
    float:right;
}
#instagram{
    float:right;
    margin-right: 8cm;
}
#telegram{
    float:right;
}
#mail{
    float:right;
    margin-right: 8cm;
}
#contact{
    margin-left: 9.5cm;
}
#copyright{
    text-align: center;
}
footer .footer-content ul {
    display: flex;
    list-style-type: none;
}